extends ../layout

block content
  .w3-container
    .w3-threequarter
      .w3-border
        img(src="#{recipe.image}" alt="#{recipe.name}") 
        .w3-cointainer.w3-center
          p= recipe.name
          if userId
            a(href="/users/#{userId}/bookmarks/#{recipe._id}") Bookmark
      .recipe-steps
        .w3-half.ingredients
          .w3-border
            header.w3-container
              h1 Ingredients
            .w3-container
              ul
                for ingredient in recipe.ingredients
                  li= ingredient.text  

        .w3-half
          .w3-border
            header.w3-container
              h1 instructions
            .w3-container
              ol
                for instruction in recipe.instructions
                  li= instruction.text  
    
    .w3-onequarter
      .w3-boarder
        header
          h1 Related
        .w3-container
          ul
            for relatedRecipe in relatedRecipes
              li
                a(href="/recipes/#{relatedRecipe._id}")= relatedRecipe.name
        
